openapi: 3.0.3
info:
  title: Pollfish Apps Demographics API
  version: '2026.07'
  description: "Unified OpenAPI description of Pollfish's documented public REST surfaces. Pollfish is a mobile survey and market-research platform owned by Prodege LLC.\n\nTwo hosts are covered:\n- `https://www.pollfish.com` - the Dashboard API (publisher app management and\n  analytics), HTTP Basic Auth with your Pollfish account email and secret key.\n- `https://wss.pollfish.com` - the survey-serving / offerwall API used as an\n  alternative to the SDK. Despite the `wss` hostname, the transport is HTTPS\n  GET/HEAD, NOT WebSocket.\n\n\nEndpoints are annotated with `x-endpoint-status` of `confirmed` (documented in Pollfish's own GitHub docs at github.com/pollfish/docs) or `modeled` (shape inferred where the response body is HTML or the schema is not exhaustively documented). Survey creation / audience design for researchers is done in the Pollfish dashboard and is not part of this documented public REST API."
  contact:
    name: Pollfish (Prodege)
    url: https://www.pollfish.com/docs
  termsOfService: https://www.pollfish.com/terms/
  license:
    name: Proprietary
    url: https://www.pollfish.com/terms/
servers:
- url: https://www.pollfish.com
  description: Dashboard API (apps, performance, revenue, demographics, logs)
- url: https://wss.pollfish.com
  description: Survey serving and offerwall API (HTTPS, not WebSocket)
tags:
- name: Demographics
  description: Respondent demographic profiles.
paths:
  /api/public/v3/apps/demographics:
    get:
      operationId: getRespondentDemographics
      tags:
      - Demographics
      summary: Get respondent demographics
      description: Returns the collected demographic profile for a given respondent device id.
      x-endpoint-status: confirmed
      security:
      - basicAuth: []
      parameters:
      - name: user
        in: query
        required: true
        description: The device id to fetch demographics for.
        schema:
          type: string
      responses:
        '200':
          description: Demographic profile using Pollfish enumeration codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
        '400':
          description: Missing or invalid parameters.
components:
  schemas:
    Demographics:
      type: object
      description: Demographic enumeration codes; see pollfish.com/docs/demographic-surveys.
      properties:
        device_id:
          type: string
        gender:
          type: integer
        year_of_birth:
          type: integer
        marital_status:
          type: integer
        parental:
          type: integer
        education:
          type: integer
        employment:
          type: integer
        career:
          type: integer
        race:
          type: integer
        income:
          type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth for the Dashboard API. Username is your Pollfish account email, password is your account secret key (from Account Information in the publisher dashboard).
