openapi: 3.2.0
info:
  title: Pollfish Logs API
  version: '2026.07'
  description: Unified OpenAPI description of Pollfish's documented public REST surfaces.
  contact:
    name: Pollfish (Prodege)
    url: https://www.pollfish.com/docs
  termsOfService: https://www.pollfish.com/terms/
  license:
    name: Proprietary
    url: https://www.pollfish.com/terms/
servers:
- url: https://www.pollfish.com
  description: Dashboard API (apps, performance, revenue, demographics, logs)
- url: https://wss.pollfish.com
  description: Survey serving and offerwall API (HTTPS, not WebSocket)
tags:
- name: Logs
  description: Per-user survey logs and disqualification reasons.
paths:
  /api/public/v3/apps/{api_key}/users_log:
    parameters:
    - $ref: '#/components/parameters/ApiKeyPath'
    get:
      operationId: getUsersLog
      tags:
      - Logs
      summary: Get user logs
      description: Returns paginated per-user survey logs for a given device_id or request_uuid.
      x-endpoint-status: confirmed
      security:
      - basicAuth: []
      parameters:
      - name: key
        in: query
        required: true
        description: The search term (device_id or request_uuid).
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number when results are paginated.
        schema:
          type: integer
      - name: rows
        in: query
        required: false
        description: Number of rows returned.
        schema:
          type: integer
      responses:
        '200':
          description: Paginated survey log results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersLog'
        '400':
          description: Missing or invalid parameters.
components:
  schemas:
    UsersLog:
      type: object
      properties:
        totalCount:
          type: integer
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              survey_started:
                type: integer
                format: int64
                description: Epoch millis when the survey started.
              completed:
                type: boolean
              disqualified_reason:
                type:
                - string
                - 'null'
                description: One of the public termination reasons (Quota Full, Survey Closed, Screenout, Duplicate, VPN, Quality, etc.) or null.
  parameters:
    ApiKeyPath:
      name: api_key
      in: path
      required: true
      description: The app's api_key.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth for the Dashboard API. Username is your Pollfish account email, password is your account secret key (from Account Information in the publisher dashboard).
